@charset "utf-8";
/* CSS Document */
body{
	background-color:#071619;
	}

	@font-face {
	    font-family: 'BebasNeueRegular';
	        src: url('fonts/BebasNeue.otf') format('opentype');
	    font-weight: normal;
	    font-style: normal;
	      }
.body-wrapper{
	width:1920px;
	height:100vh;
	background-image:url(../img/bg-index-bgBody01.jpg);
	background-repeat:no-repeat;
	overflow:hidden;
	position:relative;
	margin:0 auto;
	}
.calendar-wrapper{
	width:1920px;
	height:100vh;
	top:0;
	left:0;
	position:absolute;
	z-index:4;
	}
.calendar{
	width:797px;
	height:670px;
	margin:232px auto 0 auto;
	background-image:url(../img/bg-index-calendarCenter.png);
	background-repeat:no-repeat;

	}
.cloud-set{
	width:1920px;
	height:699px;
	position:absolute;
	bottom:0;
	z-index:3;
	background-image:url(../img/img-index-smoke01.png);
	}
.content-title{
	width:640px;
	height:200px;
	background-image:url(../img/img-index-title01.png);
	background-repeat:no-repeat;
	position:absolute;
	z-index:2;
	left:50%;
	margin-left:-320px;
	}
.calendar-shadow{
	width:890px;
	height:600px;
	background-image:url(../img/bg-index-calendarShadow.png);
	background-repeat:no-repeat;
	position:absolute;
	left:50%;
	top:300px;
	z-index:2;
	margin-left:-445px;
	}
.water-plant01{
	 width:353px;
	 height:406px;
	 background-image:url(../img/img-index-waterp01.png);
	 background-repeat:no-repeat;
	 position:absolute;
	 z-index:1;
	 top: 470px;
     left: 342px;
	 animation: float 2.5s infinite ease-in-out;
	}
.water-plant02{
	 width:688px;
	 height:454px;
	 background-image:url(../img/img-index-waterp02.png);
	 background-repeat:no-repeat;
	 position:absolute;
	 z-index:1;
	 top: 430px;
     left: 912px;
	 animation: float2 2s infinite ease-in-out;
	}
@keyframes float {
	 50% {
        top: 480px;
    }
    100% {
        top: 470px;
    }
}
@keyframes float2 {
    50% {
        top: 440px;
    }
    100% {
        top: 430px;
    }
}

/* HEADER */

/* NAV */

/* SECTION */

/* FOOTER */

/* Firefly */
.firefly {
  width:4px;
  height:4px;
  position:absolute;
  background-color: #e6ff60;
  box-shadow:0px 0px 17px 2px #e6ff60;
  border-radius: 50%;
}

.container {
  width:1200px;
  margin: 0 auto;
  height: 90vh;
  position: absolute;
  left:50%;
  margin-left:-600px;
  z-index:1;
  overflow:hidden;

}


/* Moving Clouds */
.moving-clouds {
  position: absolute;
  z-index: 1;
  bottom: -230px;
  left: 0;
  width: 250.625em;
  height: 43.75em;
  background-image:url(../img/bg-index-smokeMove.png);
  -webkit-animation: cloudLoop 80s linear infinite;
  animation: cloudLoop 80s linear infinite;
}

@keyframes cloudLoop {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
}

/*Modal*/

/*End Modal*/


/*Calendar*/
.calendar-left{
	float: left;
  width: 322px;
  height: 100%;
	padding: 30px 0 30px 30px;

}

.calendar-right{
	float: left;
	height: 100%;
	width: 475px;
	position: relative
}

.calendar-month{
	width: 100%;
	height: 170px;
}

.calendar-picker{
	width: 100%;
	height: 500px;
	padding: 10px
}

.time-latest{
	font-size: 55px;
	color: #3568a6;
	font-family: BebasNeueRegular;
	line-height: 60px
}

.time-periods{
	font-size: 20px;
color: #3568a6;
}

.currentDay{
	background-color: #3c76bd;
    height: 32px;
    line-height: 1.9;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Arial";
    padding-left: 7px;
    color: #fff;
    text-transform: uppercase;
		margin-bottom: 30px
}

.event-date{
	background-color: #3c76bd;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 21px;
    line-height: 0px;
    text-align: center;
    line-height: 39px;
    font-size: 18px;
    color: #fff;
    font-family: "Arial";
}

.event-title{
	display: inline-block;
margin-left: 15px;
font-size: 18px;
font-family: "Microsoft Yahei";
color: #5f5f5f;
width: 220px;
border-bottom: 1px solid #fff;
line-height: 35px;
    padding: 30px 0 0;
}

.events-list tr{
	margin-top: 20px
}
/*End Calendar*/


/*Overrride Calendar Toolbar*/
.fc-header-toolbar{
	position: absolute;
	top: 63px;
}

.fc-today-button{
	display:none
}

.fc-toolbar.fc-header-toolbar{
	width: calc(100% - 100px);
  margin: 0px 50px;
}

.fc-toolbar.fc-header-toolbar .fc-center h2{
	color: #fff
}

.fc-today{
	background-color: #2864ae !important
}

.fc-day-top span{
	color: #387cc1 !important
}

.fc-today span{
	color: #fff !important
}

.fc-day{
	background-color: #e4f5fa;
	color: #387cc1 !important
}


.fc-day-header{
	height: 40px;
	vertical-align: middle !important;
}

.fc-day-grid-event {
	background-color: transparent !important;
	left: -2px;
  width: 65px;
  height: 41px;
	border: 0px !important
}

.fc-day-grid-event .fc-content .fc-title:after{
	content: "";
	background-image:url(../img/indicator.png);
	width: 17px;
	    height: 18px;
	    position: absolute;
	    left: 0px;
	    top: 23px;
}

.fc-day-grid-event .fc-content .fc-title{
	height: 40px;
	display: block
}

.fc th, .fc td{
	border-color: #fff !important
}
.fc-prev-button{
	background-image: url(../img/arrow-left.png);
	    background-color: transparent;
	    width: 37px;
	    height: 38px !important;
	    border: 0px;
	    text-shadow: none;
	    box-shadow: none;
}

.fc-state-hover{
	  background-position: 0 0px;
}

.fc-icon-left-single-arrow:after{
	content: "";
}

.fc-next-button{
	background-image: url(../img/arrow-right.png);
	    background-color: transparent;
	    width: 37px;
	    height: 38px !important;
	    border: 0px;
	    text-shadow: none;
	    box-shadow: none;
}

.fc-icon-right-single-arrow:after{
	content: "";
}
/*End Override Calendar*/

/*Modal Pop-Up Override*/
.modal-content{
	height: 130px
}

.modal-left{
	float: left;
	height: 100%;
	width: 150px;
	background-color: #3c76bd;
}

.modal-center{
	float: left;
	width: 300px;
	height: 100%;
	padding: 15px;
	background-color: #ebf4f6
}

.modal-dayNum{
	display: block;
    text-align: center;
    font-size: 70px;
    color: #fff;
		    line-height: 55px;
		padding-top: 22px
}

	.modal-dayText{
		display: block;
    text-align: center;
    color: #fff;
    font-size: 19px;
    text-transform: uppercase;
	}

		.modal-description:before{
			content: "";
	background-image: url(../img/star.png);
	width: 16px;
	height: 15px;
	position: absolute;
	left: 8px;
	top: 2px;
		}

		.modal-dateChinese:before{
			content: "";
	    background-image: url(../img/time.png);
	    width: 17px;
	    height: 17px;
	    position: absolute;
	    left: 8px;
	    top: 1px;
		}

	.modal-description,.modal-dateChinese{
		color: #5f5f5f;
		font-size: 15px;
		padding-left: 35px;
		position: relative;
	}

	.modal-right{
		float: left;
		height: 100%;
		width: 148px;
		background-color: #ebf4f6;
	}

	.modal-button1,.modal-button2{
		background-color: #3c76bd;
color: #fff;
padding: 5px 0;
border: 0;
border-radius: 6px;
margin-left: calc(100% - 99px);
	width: 66px;
	margin-top: 30px;
	font-size: 12px
	}

	.modal-button2{
		margin-top: 13px
	}

	.modal-dialog{
		margin: 250px auto 0 !important;
	}
/*End Modal Pop-up Override*/
